<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
    position="end"
  >
    <mat-toolbar>Cart</mat-toolbar>
    <mat-nav-list>
      <app-cart></app-cart>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="barra" color="primary">
        <span>camisetas</span>

        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon [matBadge]="cartService.totalItems()"   matBadgeOverlap="false"  aria-label="Side nav toggle icon">shopping_cart</mat-icon>
        </button>
      
      </mat-toolbar>
      <div class="container">
            <router-outlet></router-outlet>

      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
